<!DOCTYPE html>
<html>
<head>
  <title>BasicProjects</title>
  <%= stylesheet_link_tag    "basic_projects/application", media: "all" %>
  <%= javascript_include_tag "basic_projects/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
